<!--<link rel="import" href="https://rawgit.com/Polymer/polymer/master/polymer.html">-->
<link rel="import" href="bower_components/polymer/polymer.html">
<link rel="import" href="bower_components/iron-input/iron-input.html">

<dom-module id="dyn-inputlist">
    <template>
        <button on-click="removeItem">x</button>
        <button on-click="addItem">+</button>
        <template is="dom-repeat" items="{{data}}">
            <div>
                <span>{{index}}</span>
                <!--Wouldn't have ever think of this "::input", bind to value -->
                <!--But this fixes the rotation-->
                <input is="iron-input" value="{{item.content::input}}">
            </div>
        </template>
    </template>
    <script>
        Polymer({
            is: 'dyn-inputlist',
            properties: {
                minItemSize: {
                    type: Number,
                    notify: true,
                    value: 1
                },
                data: {
                    type: Array,
                    notify: true,
                    value: function () {
                        return []
                    }
                }
            },

            observers: ['_dataChanged(data.length)'], // listen to length (true, it's much better)

            addItem: function (e) {
                this.unshift('data', {content: ""});
            },

            removeItem: function (e) {
                this.shift('data');
                this._dataChanged(); // call the logic to fill the list if needed
            },

            _dataChanged: function (e) {
                while (this.data.length < this.minItemSize) {
                    this.push('data', {content: ""})
                }
            }

        });
    </script>
</dom-module>