<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!--<script src="https://rawgit.com/webcomponents/webcomponentsjs/master/webcomponents-lite.js"></script>-->
    <script src="bower_components/webcomponentsjs/webcomponents.js"></script>
    <link rel="import" href="dyn-inputlist.html"/>
</head>
<body>
<h4>My example with bower references</h4>
<template is="dom-bind">
    <div style="color: red">Tried to use the libraries from bower, but it doesn't work.</div>
    <div>This component works as expected</div>
    <dyn-inputlist min-item-size="4"></dyn-inputlist>
    <br>
    <div>The below component doesn't show anything.</div>
    <dyn-inputlist min-item-size="4" data="{{mydata}}"></dyn-inputlist>
    <dyn-inputlist min-item-size="4" data="{{mydata}}"></dyn-inputlist>
    <div>{{mydata}}</div>
</template>

</body>
</html>